@import "tailwindcss";
*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.pfp{
  object-position: 0px -4px;
}
.naventry{
  animation: naventer 0.5s ease forwards;
  
}
@keyframes naventer {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0%);
  }
  
}
